<div id="movie">
  <h3><%= @name%></h3>
  <img src=<%= @img%>>
  <p>IMDB Rating: <%= @rating %></p>
  </div>

  <form>
    <input type="text" name="mTitle" placeholder="movie name">
    <button>Submit</button>
  </form>

  