<div id="tree">
<div id="comment"><h1>Have you asked Joel/Jack?</h1></div>
<div id="selections">
<form action="yes/jyes">
    <input type="submit" value="Joel">
</form>
<form action="yes/wyes">
    <input type="submit" value="Jack">
</form>
<form action="yes/bno">
    <input type="submit" value="NO">
</form>

</div>
</div>

<form id="restart" action="/problemtree">
    <input type="submit" value="RESTART">
</form>
