<div id="tree">
<div id="comment"><h1>Only a <span class="cookie">Cookie</span> can help. Have a <span class="cookie">Cookie</span>.</h1></div>

</div>
</div>

<form id="restart" action="/problemtree">
    <input type="submit" value="RESTART">
</form>