<div id="tree">
<div id="comment"><h1>You probably need a spirit animal. Have a <span class="cookie">Cookie</span>, ask Joel, and get a spirit animal name.</h1></div>

</div>
</div>

<form id="restart" action="/problemtree">
    <input type="submit" value="RESTART">
</form>
